<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MGZ WebApp</title>
    
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100,100italic,900italic,700italic,400italic,300italic' rel='stylesheet' type='text/css'>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>

  </head>
  
  <body>

  <section id="container" >
      <!-- ******************************  BARRA SUPERIOR CONTENIDO Y NOTIFICACIONES *******************************-->
      <!--comienza encabezado-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href=https://ancient-waters-63761.herokuapp.com/ class="logo"><b>PANEL DE ADMINISTRACIÓN</b></a>
            <!--logo end-->
              <%if user_signed_in? %>
                  <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                      <p style="margin-top: 12px;"><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class=>"btn btn-danger"%></p>
                    </ul>
                  </div>
              <%else %>
                  <div class="top-menu">
                    <ul class="nav pull-right top-menu">
                      <p style="margin-top: 12px;"><%= link_to "Iniciar Sesión", new_user_session_path, :class=>"btn btn-warning"%></p>
                    </ul>
                  </div>
              <%end%>
              
        </header>
      <!--termina encabezado-->

      <%if user_signed_in? %>
                  
<aside>
          <div id="sidebar"  class="nav-collapse " style="background:url('http://i67.tinypic.com/rgxi1k.jpg'); background-repeat: repeat;">
           
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href=https://ancient-waters-63761.herokuapp.com/><%=image_tag("logo_escuela.png", :size => "90x90")%></a></p>
                  <h5 class="centered"> Primaria MGZ</h5>
                    
                  <li class="mt">
                      <a href="https://ancient-waters-63761.herokuapp.com/">
                          <i class="fa fa-home"></i>
                          <span>Panel Principal</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a href="https://ancient-waters-63761.herokuapp.com/alumnos">
                          <i class="fa fa-table"></i>
                          <span>Lista General</span>
                      </a>
                  </li>


                   <li class="mt">
                      <a href=https://ancient-waters-63761.herokuapp.com/alumnos/filtro>
                          <i class="fa fa-list-alt"></i>
                          <span>Alumnos por Grupo</span>
                      </a>
                  </li>


                  <li class="mt">
                      <a href=https://ancient-waters-63761.herokuapp.com/maestros>
                          <i class="fa fa-book"></i>
                          <span>Listado de Docentes</span>
                      </a>
                  </li>
                  <li class="mt">
                      <a href=https://ancient-waters-63761.herokuapp.com/alumnos/tutores>
                          <i class="fa fa-user"></i>
                          <span>Listado de Tutores</span>
                      </a>
                  </li>

                   <li class="mt">
                      <a href=https://ancient-waters-63761.herokuapp.com/alumnos/busqueda>
                          <i class="fa fa-search"></i>
                          <span>Búsqueda Rápida</span>
                      </a>
                  </li>

                    <li class="mt">
                      <a href=https://ancient-waters-63761.herokuapp.com/egresados>
                          <i class="fa fa-graduation-cap"></i>
                          <span>Alumnos Egresados</span>
                      </a>
                  </li>
              </ul>
          </div>
      </aside>

      <%else %>
           
           <aside>
          <div id="sidebar"  class="nav-collapse ">
           
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href=""/><%=image_tag("logo_escuela.png", :size => "90x90")%></a></p>
                  <h5 class="centered"> Primaria MGZ</h5>
                    
                  <li class="mt">
                      <a href="">
                          <i class="fa fa-home"></i>
                          <span>Panel Principal</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a href="">
                          <i class="fa fa-table"></i>
                          <span>Lista General</span>
                      </a>
                  </li>


                   <li class="mt">
                      <a href="">
                          <i class="fa fa-list-alt"></i>
                          <span>Alumnos por Grupo</span>
                      </a>
                  </li>


                  <li class="mt">
                      <a href="">
                          <i class="fa fa-book"></i>
                          <span>Listado de Docentes</span>
                      </a>
                  </li>
                  <li class="mt">
                      <a href="">
                          <i class="fa fa-user"></i>
                          <span>Listado de Tutores</span>
                      </a>
                  </li>

                   <li class="mt">
                      <a href="">
                          <i class="fa fa-search"></i>
                          <span>Búsqueda Rápida</span>
                      </a>
                  </li>

                    <li class="mt">
                      <a>
                          <i class="fa fa-graduation-cap"></i>
                          <span>Alumnos Egresados</span>
                      </a>
                  </li>
              </ul>
          </div>
      </aside>       

      <%end%>
      
      <!-- ************************************  MENU LATERAL PLEGABLE  ****************************************** -->
      
     
     

      <!-- **********************************************************************************************************************************************************
      CONTENIDO PRINCIPAL
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              

          <%= yield %>         
                          
                      
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
               <a><i class="fa fa-info-circle" aria-hidden="true"></i></a> 2016 MGZ WebApp Primaria Manuel Gutiérrez Zamora   
          </div>
      </footer>
      <!--footer end-->
  </section>
    







  </body>
</html>
